.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
    /*transition: 0.3s;*/
    width: 600px;
    /*padding: 0 12px;*/
    margin: 12px auto;
}

.card:hover {
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}

body {
    font-size: 14px;
}

.title {
    padding: 5px 10px;
    background-color: #f2fff5
}

.origin {
    padding: 5px 10px;
    background-color: #fff8ed
}

.keyword {
    padding: 5px 10px;
    background-color: #e8fbff
}

.digest {
    padding: 5px 10px;
    background-color: #ffffd9
}

.float {
    float: left;
}

.rowName {
    width: 10%;
}

.rowContent {
    width: 90%;
    white-space: pre-wrap;
}

.clearfix {
    overflow: auto;
}